<div class="card shadow-sm">
  <div class="card-body">
    <div class="p-2">
      <div class="text-center">
        <div class="avatar-md mx-auto">
          <div class="avatar-title rounded-circle bg-light">
            <i class="bx bxs-heart-circle h1 mb-0 text-primary"></i>
          </div>
        </div>
        <div class="p-2 mt-4">
          <h4>
            {{
              'AUTH_CONFIRM_MAIL.TITLE'
                | translate: { projectName: projectName }
            }}
          </h4>
          <p class="text-gray-600">
            {{ 'AUTH_CONFIRM_MAIL.DESCRIPTION' | translate }}
          </p>
          <div class="mt-4">
            <a (click)="redirect()" class="btn btn-primary">
              {{ 'AUTH_CONFIRM_MAIL.GO_TO_DASHBOARD' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5 text-center">
  <p>
    {{
      'AUTH_CONFIRM_MAIL.COPYRIGHT'
        | translate: { year: year, projectName: projectName }
    }}
    <i class="mdi mdi-heart text-danger"></i>
  </p>
</div>
