<h4 class="mb-4">{{ 'DASHBOARD_PAGE.TITLE' | translate }}</h4>

@if (!zatcaActivated && !zatcaBannerDismissed) {
  <div
    class="card mb-4 border shadow-none"
    style="
      background: url('assets/images/card_bg_gr.svg') no-repeat;
      background-size: cover;
    "
  >
    <div class="card-body">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-12 col-md-7">
          <div class="d-flex flex-column gap-2">
            <h4 class="fw-bold mb-0">
              {{ 'DASHBOARD_PAGE.ZATCA_CARD.TITLE' | translate }}
            </h4>
            <p class="text-gray-600 fs-0_75rem mb-0">
              {{ 'DASHBOARD_PAGE.ZATCA_CARD.DESCRIPTION' | translate }}
            </p>
            <div class="d-flex flex-wrap gap-2 mt-2">
              <button
                class="btn btn-primary-gradient h-40px d-flex align-items-center gap-2"
                (click)="activateZatca()"
              >
                {{ 'SETTINGS.FINANCIAL_DATA.ACTIVATE_INVOICING' | translate }}
                <span class="isax isax-arrow-left"></span>
              </button>
              <button
                class="btn btn-white h-40px d-flex align-items-center gap-2"
                (click)="dismissZatcaBanner()"
              >
                {{ 'DASHBOARD_PAGE.ZATCA_CARD.NOT_NOW_BUTTON' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 mt-3 mt-md-0">
          <div class="d-flex align-items-center justify-content-md-end">
            <img src="assets/images/ZATCA-logo.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
}

<div class="row g-0 gy-3 g-md-3">
  <div class="col-12 col-md-6 col-lg-8">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.TITLE' | translate }}
          </h5>
          <div class="d-flex align-items-center gap-1">
            <button
              class="btn btn-icon border-0 p-0 bg-transparent"
              (click)="clearSelectedDate()"
            >
              <span class="isax isax-refresh"></span>
            </button>

            <div
              (click)="d.toggle()"
              class="input-group d-flex align-items-center px-3 max-w-150px border rounded-2"
            >
              <input
                class="form-control h-40px border-0 px-0"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="selectedDate"
                (dateSelect)="onSelectedDateChange()"
                ngbDatepicker
                [markDisabled]="isDisabled"
                #d="ngbDatepicker"
              />
              <span
                class="isax isax-calendar-2 input-group-text bg-transparent border-0 px-0"
              ></span>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-end gap-1">
          <span class="fs-40px fs-md-50px lh-1">{{
            dashboard?.subscribers?.total || 0
          }}</span>
          <div class="text-gray-600 fs-0_75rem">
            {{ 'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.PLAYER' | translate }}
          </div>
        </div>

        <div
          class="d-flex align-items-center gap-1 my-4"
          *ngIf="subscriberRows.length"
        >
          <span
            class="d-inline-block h-7px rounded"
            *ngFor="let branch of subscriberRows; let i = index"
            [style.width.%]="
              getSegmentWidth(
                branch.players_count,
                dashboard?.subscribers?.total || 0
              )
            "
            [style.backgroundColor]="getSegmentColor(i)"
          >
          </span>
        </div>

        <div class="row g-3 row-cols-2 row-cols-lg-3">
          @for (branch of subscriberRows; track $index; let i = $index) {
            @if (i == 3) {
              <div class="w-100 d-none d-md-block"><hr /></div>
            }
            <div class="col">
              <div>
                <div class="d-flex align-items-center gap-1 mb-12px">
                  <span
                    class="h-7px w-15px rounded-3"
                    [style.backgroundColor]="getSegmentColor(i)"
                  ></span>
                  <span class="text-gray-600 lh-1">{{
                    branch.branch_name
                  }}</span>
                </div>
                <div class="d-flex align-items-end gap-1">
                  <span class="fs-30px fs-md-40px lh-1">{{
                    branch.players_count
                  }}</span>
                  <span class="text-gray-600 fs-0_75rem">
                    {{ 'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.PLAYER' | translate }}
                  </span>
                </div>
              </div>
            </div>
          }

          <div class="col-12" *ngIf="!subscriberRows.length">
            <div class="text-center text-gray-600 py-4">
              {{ 'DASHBOARD_PAGE.NO_DATA' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card overflow-hidden shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.TITLE' | translate }}
          </h5>

          <ng-select
            class="max-w-150px min-w-auto"
            [(ngModel)]="sectionBranchFilters.branchSubscriptions"
            [loading]="sectionLoading.branchSubscriptions"
            (ngModelChange)="onSectionBranchChange('branchSubscriptions')"
          >
            <ng-option [value]="0">
              {{
                'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.ALL_BRANCHES' | translate
              }}
            </ng-option>
            <ng-option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name }}
            </ng-option>
          </ng-select>
        </div>

        <div *ngIf="branchSubscriptionsOptions.series">
          <apx-chart
            [series]="branchSubscriptionsOptions.series!"
            [chart]="branchSubscriptionsOptions.chart!"
            [plotOptions]="branchSubscriptionsOptions.plotOptions!"
            [dataLabels]="branchSubscriptionsOptions.dataLabels!"
            [stroke]="branchSubscriptionsOptions.stroke!"
            [colors]="branchSubscriptionsOptions.colors!"
            [xaxis]="branchSubscriptionsOptions.xaxis!"
            [yaxis]="branchSubscriptionsOptions.yaxis!"
            [grid]="branchSubscriptionsOptions.grid!"
            [legend]="branchSubscriptionsOptions.legend!"
            [tooltip]="branchSubscriptionsOptions.tooltip!"
          >
          </apx-chart>
        </div>

        <div
          class="d-flex flex-wrap justify-content-center gap-3 text-gray-600"
          style="margin-top: -24px"
        >
          <span class="d-inline-flex align-items-center gap-1 lh-1">
            <span class="h-7px w-15px rounded-3 bg-info"></span>
            {{ 'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.REVENUE' | translate }}
          </span>
          <span class="d-inline-flex align-items-center gap-1 lh-1">
            <span class="h-7px w-15px rounded-3 bg-primary"></span>
            {{
              'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.SUBSCRIPTIONS_COUNT'
                | translate
            }}
          </span>
        </div>
      </div>
      <div class="w-100">
        <img src="assets/images/Graphic.svg" class="img-fluid w-100" alt="" />
      </div>
    </div>
  </div>
</div>

<div
  class="row g-0 row-cols-1 row-cols-md-2 row-cols-lg-3 g-0 gy-3 g-md-3 my-3"
>
  <div class="col">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.SUBSCRIPTIONS_CARD.TITLE' | translate }}
          </h5>
          <ng-select
            class="max-w-150px min-w-auto"
            [(ngModel)]="sectionBranchFilters.subscriptions"
            [loading]="sectionLoading.subscriptions"
            (ngModelChange)="onSectionBranchChange('subscriptions')"
          >
            <ng-option [value]="0">
              {{
                'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.ALL_BRANCHES' | translate
              }}
            </ng-option>
            <ng-option *ngFor="let branch of branches" [value]="branch.id">{{
              branch.name
            }}</ng-option>
          </ng-select>
        </div>

        <div class="d-flex align-items-end gap-1">
          <span class="fs-40px fs-md-50px lh-1">{{
            subscriptionsSummary.total | number: '1.0-0'
          }}</span>
          <div class="text-gray-600 fs-0_75rem">
            {{ 'DASHBOARD_PAGE.SUBSCRIPTIONS_CARD.SUBSCRIPTION' | translate }}
          </div>
        </div>

        <div class="d-flex align-items-center gap-1 my-4">
          <span
            class="d-inline-block h-7px rounded bg-success"
            [style.width.%]="
              getSegmentWidth(
                subscriptionsSummary.active || 0,
                subscriptionsSummary.total || 0
              )
            "
          ></span>
          <span
            class="d-inline-block h-7px rounded bg-danger"
            [style.width.%]="
              getSegmentWidth(
                subscriptionsSummary.expired || 0,
                subscriptionsSummary.total || 0
              )
            "
          ></span>
          <span
            class="d-inline-block h-7px rounded bg-warning"
            [style.width.%]="
              getSegmentWidth(
                subscriptionsSummary.incomplete || 0,
                subscriptionsSummary.total || 0
              )
            "
          ></span>
          <span
            class="d-inline-block h-7px rounded bg-gray-500"
            [style.width.%]="
              getSegmentWidth(
                subscriptionsSummary.stopped || 0,
                subscriptionsSummary.total || 0
              )
            "
          ></span>
        </div>

        <div class="row g-0 gy-2 g-md-2 row-cols-2">
          <div class="col">
            <div>
              <div class="d-flex align-items-center gap-1 mb-12px">
                <span class="h-7px w-15px rounded-3 bg-success"></span>
                <span class="text-gray-600 lh-1">{{
                  'DASHBOARD_PAGE.SUBSCRIPTIONS_CARD.ACTIVE' | translate
                }}</span>
              </div>
              <div class="d-flex align-items-end gap-1">
                <span class="fs-30px fs-md-40px lh-1">{{
                  subscriptionsSummary.active | number: '1.0-0'
                }}</span>
                <span class="text-gray-600 fs-0_75rem">{{
                  'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.PLAYER' | translate
                }}</span>
              </div>
            </div>
          </div>

          <div class="col">
            <div>
              <div class="d-flex align-items-center gap-1 mb-12px">
                <span class="h-7px w-15px rounded-3 bg-danger"></span>
                <span class="text-gray-600 lh-1">{{
                  'DASHBOARD_PAGE.SUBSCRIPTIONS_CARD.EXPIRED' | translate
                }}</span>
              </div>
              <div class="d-flex align-items-end gap-1">
                <span class="fs-30px fs-md-40px lh-1">{{
                  subscriptionsSummary.expired | number: '1.0-0'
                }}</span>
                <span class="text-gray-600 fs-0_75rem">{{
                  'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.PLAYER' | translate
                }}</span>
              </div>
            </div>
          </div>

          <div class="w-100"><hr /></div>

          <div class="col">
            <div>
              <div class="d-flex align-items-center gap-1 mb-12px">
                <span class="h-7px w-15px rounded-3 bg-warning"></span>
                <span class="text-gray-600 lh-1">{{
                  'DASHBOARD_PAGE.SUBSCRIPTIONS_CARD.INCOMPLETE' | translate
                }}</span>
              </div>
              <div class="d-flex align-items-end gap-1">
                <span class="fs-30px fs-md-40px lh-1">{{
                  subscriptionsSummary.incomplete | number: '1.0-0'
                }}</span>
                <span class="text-gray-600 fs-0_75rem">{{
                  'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.PLAYER' | translate
                }}</span>
              </div>
            </div>
          </div>

          <div class="col">
            <div>
              <div class="d-flex align-items-center gap-1 mb-12px">
                <span class="h-7px w-15px rounded-3 bg-gray-500"></span>
                <span class="text-gray-600 lh-1">{{
                  'DASHBOARD_PAGE.SUBSCRIPTIONS_CARD.STOPPED' | translate
                }}</span>
              </div>
              <div class="d-flex align-items-end gap-1">
                <span class="fs-30px fs-md-40px lh-1">{{
                  subscriptionsSummary.stopped | number: '1.0-0'
                }}</span>
                <span class="text-gray-600 fs-0_75rem">{{
                  'DASHBOARD_PAGE.BRANCH_SUBSCRIBERS.PLAYER' | translate
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.ACTIVITIES_CARD.TITLE' | translate }}
          </h5>
          <ng-select
            class="max-w-150px min-w-auto"
            [(ngModel)]="sectionBranchFilters.activities"
            [loading]="sectionLoading.activities"
            (ngModelChange)="onSectionBranchChange('activities')"
          >
            <ng-option [value]="0">
              {{
                'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.ALL_BRANCHES' | translate
              }}
            </ng-option>
            <ng-option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name }}
            </ng-option>
          </ng-select>
        </div>

        <div *ngIf="activitiesDonutOptions.series">
          <apx-chart
            [series]="activitiesDonutOptions.series!"
            [chart]="activitiesDonutOptions.chart!"
            [labels]="activitiesDonutOptions.labels!"
            [colors]="activitiesDonutOptions.colors!"
            [legend]="activitiesDonutOptions.legend!"
            [plotOptions]="activitiesDonutOptions.plotOptions!"
            [stroke]="activitiesDonutOptions.stroke!"
          >
          </apx-chart>
        </div>

        <div class="d-flex justify-content-center gap-4 mt-2 text-gray-600">
          <span class="d-inline-flex align-items-center gap-1">
            <span class="h-7px w-15px rounded-3 bg-cyan"></span>
            {{ 'DASHBOARD_PAGE.ACTIVITIES_CARD.ACTIVE' | translate }}
          </span>
          <span class="d-inline-flex align-items-center gap-1">
            <span class="h-7px w-15px rounded-3 bg-info"></span>
            {{ 'DASHBOARD_PAGE.ACTIVITIES_CARD.INACTIVE' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.MESSAGES_CARD.TITLE' | translate }}
          </h5>
          <button class="btn btn-gray-400" disabled>
            {{ 'DASHBOARD_PAGE.MESSAGES_CARD.VIEW_ALL' | translate }}
          </button>
        </div>

        <div *ngIf="messagesDonutOptions.series">
          <apx-chart
            style="max-height: 130px; display: inherit"
            [series]="messagesDonutOptions.series!"
            [chart]="messagesDonutOptions.chart!"
            [labels]="messagesDonutOptions.labels!"
            [colors]="messagesDonutOptions.colors!"
            [legend]="messagesDonutOptions.legend!"
            [plotOptions]="messagesDonutOptions.plotOptions!"
            [stroke]="messagesDonutOptions.stroke!"
          >
          </apx-chart>
        </div>

        <div
          class="d-flex align-items-center justify-content-center gap-2 mt-2 mb-4"
        >
          <span class="fs-40px fs-md-50px lh-1">{{
            dashboard?.messages?.total | number
          }}</span>
          <span class="text-gray-600 fs-0_75rem">{{
            'DASHBOARD_PAGE.MESSAGES_CARD.MESSAGE' | translate
          }}</span>
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-3">
          <span
            class="d-inline-flex align-items-center text-gray-600 gap-1 lh-1"
          >
            <span class="h-7px w-15px rounded-3 bg-info"></span>
            {{ 'DASHBOARD_PAGE.MESSAGES_CARD.REPLIED' | translate }}
          </span>
          <span
            class="d-inline-flex align-items-center text-gray-600 gap-1 lh-1"
          >
            <span class="h-7px w-15px rounded-3 bg-warning"></span>
            {{ 'DASHBOARD_PAGE.MESSAGES_CARD.UNREAD' | translate }}
          </span>
          <span
            class="d-inline-flex align-items-center text-gray-600 gap-1 lh-1"
          >
            <span class="h-7px w-15px rounded-3 bg-danger"></span>
            {{ 'DASHBOARD_PAGE.MESSAGES_CARD.NOT_REPLIED' | translate }}
          </span>
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-4 mt-3">
          <span class="d-inline-flex align-items-center gap-1 lh-1">
            <span class="fs-30px fw-medium lh-1">{{
              dashboard?.messages?.replied | number
            }}</span>
            <span class="fs-0_75rem text-gray-600">{{
              'DASHBOARD_PAGE.MESSAGES_CARD.MESSAGE' | translate
            }}</span>
          </span>
          <span class="d-inline-flex align-items-center gap-1 lh-1">
            <span class="fs-30px fw-medium lh-1">{{
              dashboard?.messages?.unread | number
            }}</span>
            <span class="fs-0_75rem text-gray-600">{{
              'DASHBOARD_PAGE.MESSAGES_CARD.MESSAGE' | translate
            }}</span>
          </span>
          <span class="d-inline-flex align-items-center gap-1 lh-1">
            <span class="fs-30px fw-medium lh-1">{{
              dashboard?.messages?.not_replied | number
            }}</span>
            <span class="fs-0_75rem text-gray-600">{{
              'DASHBOARD_PAGE.MESSAGES_CARD.MESSAGE' | translate
            }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.REVENUE_CARD.TITLE' | translate }}
          </h5>
          <ng-select
            class="max-w-150px min-w-auto"
            [(ngModel)]="sectionBranchFilters.dailyRevenue"
            [loading]="sectionLoading.dailyRevenue"
            (ngModelChange)="onSectionBranchChange('dailyRevenue')"
          >
            <ng-option [value]="0">
              {{
                'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.ALL_BRANCHES' | translate
              }}
            </ng-option>
            <ng-option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name }}
            </ng-option>
          </ng-select>
        </div>

        <div *ngIf="dailyRevenueOptions.series">
          <apx-chart
            style="max-height: 200px; display: inherit"
            [series]="dailyRevenueOptions.series!"
            [chart]="dailyRevenueOptions.chart!"
            [plotOptions]="dailyRevenueOptions.plotOptions!"
            [dataLabels]="dailyRevenueOptions.dataLabels!"
            [stroke]="dailyRevenueOptions.stroke!"
            [colors]="dailyRevenueOptions.colors!"
            [xaxis]="dailyRevenueOptions.xaxis!"
            [yaxis]="dailyRevenueOptions.yaxis!"
            [grid]="dailyRevenueOptions.grid!"
            [tooltip]="dailyRevenueOptions.tooltip!"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.EXPENSES_CARD.TITLE' | translate }}
          </h5>
          <ng-select
            class="max-w-150px min-w-auto"
            [(ngModel)]="sectionBranchFilters.expenses"
            [loading]="sectionLoading.expenses"
            (ngModelChange)="onSectionBranchChange('expenses')"
          >
            <ng-option [value]="0">
              {{
                'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.ALL_BRANCHES' | translate
              }}
            </ng-option>
            <ng-option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name }}
            </ng-option>
          </ng-select>
        </div>

        <div class="d-flex align-items-center gap-2 mb-4">
          <span class="fs-40px fs-md-50px lh-1">{{
            expensesSummary.total | number: '1.0-0'
          }}</span>
          <img
            src="assets/images/icon/SR_light.svg"
            [alt]="'SHARED.SAR' | translate"
          />
        </div>

        <div
          class="d-flex flex-column gap-3"
          *ngIf="expensesBreakdown.length; else noExpensesData"
        >
          <div
            class="position-relative w-100"
            *ngFor="let row of expensesBreakdown; let i = index"
          >
            <ngb-progressbar
              [value]="row.percentage"
              [height]="'50px'"
              [striped]="false"
              [animated]="false"
              [type]="getProgressType(i)"
              class="rounded-1"
            >
            </ngb-progressbar>
            <div
              class="position-absolute start-0 end-0 top-0 d-flex align-items-center justify-content-between w-100 h-100 px-3"
            >
              <span class="fw-medium">{{ row.label }}</span>
              <span class="fw-medium fs-md-1_25rem">{{
                row.amount | number: '1.0-0'
              }}</span>
            </div>
          </div>
        </div>

        <ng-template #noExpensesData>
          <div class="text-center text-gray-600 py-5">
            {{ 'DASHBOARD_PAGE.NO_DATA' | translate }}
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-none border h-100">
      <div class="card-body">
        <div
          class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
        >
          <h5 class="mb-0">
            {{ 'DASHBOARD_PAGE.REVENUE_CARD.TITLE' | translate }}
          </h5>
          <ng-select
            class="max-w-150px min-w-auto"
            [(ngModel)]="sectionBranchFilters.revenue"
            [loading]="sectionLoading.revenue"
            (ngModelChange)="onSectionBranchChange('revenue')"
          >
            <ng-option [value]="0">
              {{
                'DASHBOARD_PAGE.BRANCH_SUBSCRIPTIONS.ALL_BRANCHES' | translate
              }}
            </ng-option>
            <ng-option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name }}
            </ng-option>
          </ng-select>
        </div>

        <div class="d-flex align-items-center gap-2 mb-4">
          <span class="fs-40px fs-md-50px lh-1">{{
            revenueSummary.total | number: '1.0-0'
          }}</span>
          <img
            src="assets/images/icon/SR_light.svg"
            [alt]="'SHARED.SAR' | translate"
          />
        </div>

        <div
          class="d-flex flex-column gap-3"
          *ngIf="revenueBreakdown.length; else noRevenueData"
        >
          <div
            class="position-relative w-100"
            *ngFor="let row of revenueBreakdown; let i = index"
          >
            <ngb-progressbar
              [value]="row.percentage"
              [height]="'50px'"
              [striped]="false"
              [animated]="false"
              [type]="getProgressType(i)"
              class="rounded-1"
            >
            </ngb-progressbar>
            <div
              class="position-absolute start-0 end-0 top-0 d-flex align-items-center justify-content-between w-100 h-100 px-3"
            >
              <span class="fw-medium">
                {{
                  row.key === 'subscriptions'
                    ? ('DASHBOARD_PAGE.REVENUE_CARD.SUBSCRIPTIONS' | translate)
                    : row.key === 'rentals'
                      ? ('DASHBOARD_PAGE.REVENUE_CARD.RENTALS' | translate)
                      : row.key === 'products'
                        ? ('DASHBOARD_PAGE.REVENUE_CARD.PRODUCTS' | translate)
                        : row.label
                }}
              </span>
              <span class="fw-medium fs-md-1_25rem">{{
                row.amount | number: '1.0-0'
              }}</span>
            </div>
          </div>
        </div>

        <ng-template #noRevenueData>
          <div class="text-center text-gray-600 py-5">
            {{ 'DASHBOARD_PAGE.NO_DATA' | translate }}
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row g-0 row-cols-1 row-cols-md-3 g-0 gy-3 g-md-3">
    </div> -->
