<div class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <!-- <h1 class="display-2 fw-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>3</h1> -->
          <img src="assets/images/404_error.svg" height="400" alt="" />
          <h4 class="text-uppercase fw-medium">
            {{ 'PAGE_404.TITLE' | translate }}
          </h4>
          <button
            class="btn btn-primary-gradient mx-auto d-flex align-items-center justify-content-center h-50px mt-5 fw-medium"
            (click)="redirect()"
          >
            {{ 'PAGE_404.GO_HOME' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
