<!-- ========== Left Sidebar Start ========== -->
<!--  border-end border-light border-2 -->
<div style="grid-template-rows: 1fr auto" class="vertical-menu bg-body">
  <ngx-simplebar #componentRef>
    <div class="sidebar_grid">
      <!-- Profile Section -->
      <div
        class="profile py-4 d-flex align-items-center justify-content-center gap-2 position-relative"
      >
        <a class="navbar-brand text-center" routerLink="/">
          @if (!isCondensed) {
            <span id="logo" class="d-none d-md-inline">
              <img
                [src]="logos.light"
                class=""
                style="width: auto; height: 40px"
              />
            </span>
          }
          @if (isCondensed) {
            <span id="logo" class="d-none d-md-inline">
              <img
                [src]="logos.light_sm"
                class=""
                style="width: auto; height: 40px"
              />
            </span>
          }
          <span id="logo" class="d-md-none">
            <img
              [src]="logos.light_sm"
              class=""
              style="width: auto; height: 40px"
            />
          </span>
        </a>

        <div class="position-absolute d-lg-none top-0 end-0 m-3">
          <span
            class="bx bx-x pointer fs-1_6rem"
            (click)="onToggleMobileMenu()"
          ></span>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <div id="sidebar-menu">
        <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
          @for (item of menuItems; track item) {
            @if (item.isTitle) {
              <li class="menu-title">
                <div class="d-flex align-items-center">
                  <span
                    class="flex-fill bg-light opacity-50 d-inline-flex"
                    style="height: 1px"
                  ></span>
                  <span class="px-2">{{ item?.label || '' | translate }}</span>
                  <span
                    class="flex-fill bg-light opacity-50 d-inline-flex"
                    style="height: 1px"
                  ></span>
                </div>
              </li>
            }
            @if (!item.isTitle && !item.isLayout) {
              <li (click)="clickElWhenCollapsed()">
                @if (item | hasItems) {
                  <a
                    href="javascript:void(0);"
                    class="is-parent"
                    [ngClass]="{
                      'has-arrow': !item.badge,
                      'has-dropdown': item.badge,
                    }"
                  >
                    @if (item.icon) {
                      <i
                        style="width: 20px"
                        class="text-center me-1 {{ item.icon }}"
                      ></i>
                    }
                    <span>{{ item.label || '' | translate }}</span>
                    @if (item.badge) {
                      <span
                        class="badge rounded-pill float-end bg-{{
                          item.badge.variant
                        }}"
                      >
                        {{ item.badge.text | translate }}
                      </span>
                    }
                  </a>
                }
                @if (!(item | hasItems)) {
                  <a
                    [routerLink]="item.link"
                    class="side-nav-link-ref"
                    [routerLinkActiveOptions]="{ exact: !!item?.exact }"
                    routerLinkActive="active"
                  >
                    @if (item.icon) {
                      <i
                        style="width: 20px"
                        class="text-center me-1 {{ item.icon }}"
                      ></i>
                    }
                    <span>{{ item.label || '' | translate }}</span>
                    @if (item.badge) {
                      <span
                        class="badge rounded-pill bg-{{
                          item.badge.variant
                        }} float-end"
                      >
                        {{ item.badge.text | translate }}
                      </span>
                    }
                  </a>
                }

                @if (item | hasItems) {
                  <ul class="sub-menu" aria-expanded="false">
                    @for (subitem of item.subItems; track subitem) {
                      @if (subitem.isTitle) {
                        <li class="sub-menu-title">
                          <div class="d-flex align-items-center">
                            <span
                              class="flex-fill opacity-25 d-inline-flex"
                              style="height: 1px; background: currentColor"
                            ></span>
                            <span class="px-2 small">{{
                              subitem.label || '' | translate
                            }}</span>
                            <span
                              class="flex-fill opacity-25 d-inline-flex"
                              style="height: 1px; background: currentColor"
                            ></span>
                          </div>
                        </li>
                      }
                      @if (!subitem.isTitle) {
                        <li>
                          @if (!(subitem | hasItems)) {
                            <a
                              [routerLink]="subitem.link"
                              class="side-nav-link-ref fw-semibold"
                              [attr.data-parent]="subitem.parentId"
                              [routerLinkActiveOptions]="{
                                exact: !!subitem?.exact,
                              }"
                              routerLinkActive="active"
                            >
                              {{ subitem.label || '' | translate }}
                            </a>
                          }
                          @if (subitem | hasItems) {
                            <a
                              class="side-nav-link-a-ref has-arrow"
                              href="javascript:void(0);"
                              [attr.data-parent]="subitem.parentId"
                            >
                              {{ subitem.label || '' | translate }}
                            </a>
                            <ul
                              class="sub-menu mm-collapse"
                              aria-expanded="false"
                            >
                              @for (
                                subSubitem of subitem.subItems;
                                track subSubitem
                              ) {
                                <li>
                                  <a
                                    [attr.data-parent]="subSubitem.parentId"
                                    [routerLinkActiveOptions]="{
                                      exact: !!subSubitem?.exact,
                                    }"
                                    [routerLink]="subSubitem.link"
                                    routerLinkActive="active"
                                    class="side-nav-link-ref"
                                  >
                                    {{ subSubitem.label || '' | translate }}
                                  </a>
                                </li>
                              }
                            </ul>
                          }
                        </li>
                      }
                    }
                  </ul>
                }
              </li>
            }
          }
        </ul>
      </div>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End -->
