<span [ngSwitch]="contractStatus">
  <span
    class="badge badge-dark"
    *ngSwitchCase="ContractStatusEnum.WaitingContractFile"
  >
    <span class="fa-solid fa-exclamation-circle me-1"></span>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>
  <span
    class="badge badge-dark"
    *ngSwitchCase="ContractStatusEnum.WaitingBrandSignature"
  >
    <span class="fa-solid fa-exclamation-circle me-1"></span>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>
  <span
    class="badge badge-dark"
    *ngSwitchCase="ContractStatusEnum.WaitingConfirmBrandSignature"
  >
    <span class="fa-solid fa-exclamation-circle me-1"></span>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>
  <span class="badge badge-info" *ngSwitchCase="ContractStatusEnum.Pending">
    <span class="fa-solid fa-clock-rotate-left me-1"></span>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>
  <span
    class="badge badge-warning"
    *ngSwitchCase="ContractStatusEnum.InProgress"
  >
    <span class="fa-solid fa-hourglass me-1 fa-spin"></span>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>
  <span
    class="badge badge-success"
    *ngSwitchCase="ContractStatusEnum.ProductionCompleted"
  >
    <span class="fa-solid fa-list-check me-1"></span>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>
  <span class="badge badge-danger" *ngSwitchCase="ContractStatusEnum.SoldOut">
    <i class="fa-solid fa-flag-checkered"></i>
    {{ 'contract-status.' + contractStatus | translate }}
  </span>

  <p *ngSwitchDefault>-</p>
</span>
