<header id="page-topbar" class="border-bottom border-light border-2">
  <div class="navbar-header">
    <div class="d-flex align-items-center gap-2">

      <div class="dropdown d-inline-block d-lg-none me-2" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" ngbDropdownToggle>
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" ngbDropdownMenu>

          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="dropdown d-none d-lg-inline-block me-1">
        <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>

      <sahely-notifications class="d-inline-block align-middle align-self-center"></sahely-notifications>
      <!-- ?? user -->
      <mg-account-dropdown></mg-account-dropdown>

    </div>

    <div class="d-flex flex-row-reverse">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img [src]="logos.dark_sm" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img [src]="logos.dark" alt="" height="66">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img [src]="logos.light_sm" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img [src]="logos.light" alt="" height="66">
          </span>
        </a>
      </div>
    </div>
  </div>
</header>