<div class="table-v2">
  <div
    class="mg-toolbar d-flex flex-wrap gap-3 justify-content-between align-items-center"
  >
    <!-- Search and Filter Component -->
    <mg-search-filter
      [filters]="filterConfigs"
      [searchPlaceholder]="'EQUIPMENT.SEARCH_CLASSIFICATION' | translate"
      [showSearch]="true"
      [showFilter]="true"
      (onSearch)="onSearch($event)"
      (onApplyFilters)="onApplyFilters($event)"
      (onResetFilters)="onResetFilters()"
    ></mg-search-filter>

    <div class="d-flex flex-wrap gap-2 align-items-center">
      <button
        class="btn btn-primary-gradient h-40px d-flex align-items-center gap-2"
        (click)="openAddEquipmentModal()"
      >
        <span class="bx bx-plus"></span>
        {{ 'EQUIPMENT.NEW_EQUIPMENT' | translate }}
      </button>
      <button
        class="btn btn-white h-40px d-flex align-items-center gap-2"
        (click)="onExport($event)"
      >
        <span class="isax isax-export"></span>
        {{ 'EQUIPMENT.EXPORT' | translate }}
      </button>
    </div>
  </div>

  <mg-scroll-x>
    <nz-table
      nzSize="small"
      class="v2"
      #basicTable
      [nzBordered]="false"
      [nzTableLayout]="'auto'"
      [nzData]="filteredEquipment"
      [nzLoading]="isLoading"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>{{ 'EQUIPMENT.TABLE.ID_NUMBER' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.NAME' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.CLASSIFICATION' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.BRAND' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.PURCHASE_STATUS' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.PURCHASE_PRICE' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.OPERATION_STATUS' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.QUANTITY' | translate }}</th>
          <th>{{ 'EQUIPMENT.TABLE.ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of basicTable.data; track item.id) {
          <tr>
            <td>{{ item.identification_number }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.main_category?.display_name || '-' }}</td>
            <td>{{ item.brand || '-' }}</td>
            <td>{{ item.purchase_condition.label || '-' }}</td>
            <td>{{ item.purchase_price || 0 }}</td>
            <td>{{ item.operation_status.label || '-' }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <div class="d-flex gap-1 justify-content-center">
                <button
                  class="btn btn-icon btn-soft-primary"
                  (click)="viewEquipment(item)"
                >
                  <span class="isax isax-eye fs-1_25rem"></span>
                </button>
                <button
                  class="btn btn-icon btn-soft-secondary"
                  (click)="editEquipment(item)"
                >
                  <span class="isax isax-edit fs-1_25rem"></span>
                </button>
                <button
                  class="btn btn-icon btn-soft-danger"
                  (click)="deleteEquipment(item)"
                >
                  <span class="isax isax-trash fs-1_25rem"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </mg-scroll-x>
</div>

<!-- Pagination -->
<div class="mt-4 d-flex justify-content-between align-items-center">
  <ngb-pagination
    [maxSize]="4"
    [boundaryLinks]="false"
    [collectionSize]="_total"
    [page]="_page"
    [pageSize]="_pageSize"
    (pageChange)="loadData($event)"
  />

  <div>
    <span class="fw-medium">
      {{ 'EQUIPMENT.PAGINATION.SHOWING' | translate }}
      <span class="text-primary">{{ _pageSize }}</span>
      {{ 'EQUIPMENT.PAGINATION.OF' | translate }} {{ _total }}
      {{ 'EQUIPMENT.PAGINATION.RESULTS' | translate }}
    </span>
  </div>
</div>

<!-- Add Equipment Modal -->
<ng-template #addEquipmentModal let-modal>
  <div class="modal-body p-4">
    <div
      class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
    >
      <h5 class="modal-title">
        {{
          (editingAssetId
            ? 'EQUIPMENT.ADD_EQUIPMENT_MODAL.EDIT_TITLE'
            : 'EQUIPMENT.ADD_EQUIPMENT_MODAL.TITLE'
          ) | translate
        }}
      </h5>
      <button
        type="button"
        class="btn-close mx-0"
        (click)="modal.dismiss()"
      ></button>
    </div>

    <nz-form class="row custom_form g-3" [formGroup]="equipmentForm">
      <nz-form-item class="col-md-6">
        <nz-form-label
          [nzRequired]="equipmentForm | isRequired: 'identification_number'"
          >{{
            'EQUIPMENT.ADD_EQUIPMENT_MODAL.ID_NUMBER' | translate
          }}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <input
            nz-input
            formControlName="identification_number"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.ID_NUMBER_PLACEHOLDER' | translate
            "
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label [nzRequired]="equipmentForm | isRequired: 'name'">{{
          'EQUIPMENT.ADD_EQUIPMENT_MODAL.NAME' | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <input
            nz-input
            formControlName="name"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.NAME_PLACEHOLDER' | translate
            "
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label
          [nzRequired]="equipmentForm | isRequired: 'main_category_id'"
          >{{
            'EQUIPMENT.ADD_EQUIPMENT_MODAL.MAIN_CLASSIFICATION' | translate
          }}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <ng-select
            formControlName="main_category_id"
            [items]="mainCategoryOptions"
            bindLabel="label"
            bindValue="value"
            [loading]="isLoadingLookups"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.MAIN_CLASSIFICATION_PLACEHOLDER'
                | translate
            "
          ></ng-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label
          [nzRequired]="equipmentForm | isRequired: 'sub_category_id'"
          >{{
            'EQUIPMENT.ADD_EQUIPMENT_MODAL.SUB_CLASSIFICATION' | translate
          }}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <ng-select
            formControlName="sub_category_id"
            [items]="subCategoryOptions"
            bindLabel="label"
            bindValue="value"
            [loading]="isLoadingLookups"
            [disabled]="!subCategoryOptions.length"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.SUB_CLASSIFICATION_PLACEHOLDER'
                | translate
            "
          ></ng-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-12">
        <nz-form-label [nzRequired]="equipmentForm | isRequired: 'brand'">{{
          'EQUIPMENT.ADD_EQUIPMENT_MODAL.BRAND' | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <input
            nz-input
            formControlName="brand"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.BRAND_PLACEHOLDER' | translate
            "
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label
          [nzRequired]="equipmentForm | isRequired: 'purchase_condition'"
          >{{
            'EQUIPMENT.ADD_EQUIPMENT_MODAL.PURCHASE_STATUS' | translate
          }}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <ng-select
            formControlName="purchase_condition"
            [items]="purchaseConditionSelectOptions"
            bindLabel="label"
            bindValue="value"
            [loading]="isLoadingLookups"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.PURCHASE_STATUS_PLACEHOLDER'
                | translate
            "
          ></ng-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label
          [nzRequired]="equipmentForm | isRequired: 'purchase_price'"
          >{{
            'EQUIPMENT.ADD_EQUIPMENT_MODAL.PURCHASE_PRICE' | translate
          }}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <nz-input-group [nzSuffix]="'EQUIPMENT.CURRENCY' | translate">
            <input
              nz-input
              type="number"
              formControlName="purchase_price"
              placeholder="0"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label
          [nzRequired]="equipmentForm | isRequired: 'operation_status'"
          >{{
            'EQUIPMENT.ADD_EQUIPMENT_MODAL.OPERATION_STATUS' | translate
          }}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <ng-select
            formControlName="operation_status"
            [items]="operationStatusSelectOptions"
            bindLabel="label"
            bindValue="value"
            [loading]="isLoadingLookups"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.OPERATION_STATUS_PLACEHOLDER'
                | translate
            "
          ></ng-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-6">
        <nz-form-label [nzRequired]="equipmentForm | isRequired: 'quantity'">{{
          'EQUIPMENT.ADD_EQUIPMENT_MODAL.QUANTITY' | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <input
            nz-input
            type="number"
            formControlName="quantity"
            placeholder="1"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="col-md-12">
        <nz-form-label [nzRequired]="equipmentForm | isRequired: 'notes'">{{
          'EQUIPMENT.ADD_EQUIPMENT_MODAL.NOTES' | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="nzErrorTip">
          <textarea
            nz-input
            formControlName="notes"
            rows="3"
            [placeholder]="
              'EQUIPMENT.ADD_EQUIPMENT_MODAL.NOTES_PLACEHOLDER' | translate
            "
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </nz-form>
  </div>
  <div class="modal-footer border-0">
    <button
      class="btn btn-primary-gradient h-40px px-5"
      (click)="saveEquipment()"
      [disabled]="isSaving"
    >
      @if (isSaving) {
        <span class="spinner-border spinner-border-sm text-primary"></span>
      }
      {{ 'EQUIPMENT.SAVE' | translate }}
    </button>
    <button class="btn btn-white h-40px" (click)="modal.dismiss()">
      {{ 'EQUIPMENT.CANCEL' | translate }}
    </button>
  </div>
</ng-template>

<!-- View Equipment Modal -->
<ng-template #viewEquipmentModal let-modal>
  <div class="modal-body p-4">
    <!-- Header -->
    <div
      class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3"
    >
      <h5 class="modal-title">
        {{
          selectedEquipment?.name ||
            ('EQUIPMENT.VIEW_EQUIPMENT_MODAL.TITLE' | translate)
        }}
      </h5>
      <button
        type="button"
        class="btn-close m-0"
        (click)="modal.dismiss()"
      ></button>
    </div>

    <!-- Tabs + actions row -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <ul
        ngbNav
        #viewEquipmentNav="ngbNav"
        [(activeId)]="viewEquipmentTab"
        class="custom_tabs"
      >
        <li [ngbNavItem]="'details'">
          <button ngbNavLink>
            {{ 'EQUIPMENT.VIEW_EQUIPMENT_MODAL.TITLE' | translate }}
          </button>
          <ng-template ngbNavContent>
            <div class="p-4 bg-gray-100 rounded-3 border">
              <div class="row row-cols-1 g-3">
                <!-- ID Number -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.ID_NUMBER' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{ selectedEquipment?.identification_number || '-' }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Name -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.NAME' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{ selectedEquipment?.name || '-' }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Main Classification -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.CLASSIFICATION' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{
                            selectedEquipment?.main_category?.display_name ||
                              '-'
                          }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Sub Classification -->
                <div class="col" *ngIf="selectedEquipment?.sub_category">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{
                            'EQUIPMENT.ADD_EQUIPMENT_MODAL.SUB_CLASSIFICATION'
                              | translate
                          }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{
                            selectedEquipment?.sub_category?.display_name || '-'
                          }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Brand -->
                <div class="col" *ngIf="selectedEquipment?.brand">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.BRAND' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{ selectedEquipment?.brand }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Purchase Status -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.PURCHASE_STATUS' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{
                            selectedEquipment?.purchase_condition?.label || '-'
                          }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Purchase Price -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.PURCHASE_PRICE' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{ selectedEquipment?.purchase_price || 0 }}
                          <img
                            src="assets/images/icon/SR_light.svg"
                            height="14"
                            alt=""
                          />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Operation Status -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.OPERATION_STATUS' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{
                            selectedEquipment?.operation_status?.label || '-'
                          }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Quantity -->
                <div class="col">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{ 'EQUIPMENT.TABLE.QUANTITY' | translate }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body fw-bold">
                          {{ selectedEquipment?.quantity || 0 }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Notes -->
                <div class="col" *ngIf="selectedEquipment?.notes">
                  <div class="w-100">
                    <div
                      class="d-flex align-items-center justify-content-between text-gray-600"
                    >
                      <div class="col-md-6">
                        <p class="mb-0">
                          {{
                            'EQUIPMENT.ADD_EQUIPMENT_MODAL.NOTES' | translate
                          }}
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="mb-0 text-body">
                          {{ selectedEquipment?.notes }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div class="d-flex gap-2">
        <button
          class="btn btn-white h-40px"
          (click)="modal.close(); editEquipment(selectedEquipment!)"
        >
          <span class="isax isax-edit-2 me-1 fs-1_25rem"></span>
          {{ 'EQUIPMENT.EDIT' | translate }}
        </button>
      </div>
    </div>

    <div [ngbNavOutlet]="viewEquipmentNav" class="mt-3"></div>
  </div>
</ng-template>

<ng-template #nzErrorTip let-control>
  <app-nz-control-error-temp [control]="control"></app-nz-control-error-temp>
</ng-template>
