<ng-select class="w-100" [readonly]="disabled" [loading]="loading" [ngClass]="classes" [placeholder]="placeholder"
    [(ngModel)]="value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
    @for (option of workLocations; track $index;) {
    <ng-option [disabled]="!option?.id || skipIds.includes(option?.id!)" [value]="option.id">
        <div class="d-flex gap-1 align-items-center">
            <div class="d-flex flex-wrap gap-1 align-items-center">
                <span  class="d-inline-block">
                    {{option.title}}
                </span>
            </div>
        </div>
    </ng-option>
    }
</ng-select>