<mg-auth-wrapper>
  <div class="col-12">
    <div class="mb-4 mx-auto text-center">
      <img height="70" class="mb-5" [src]="logos.light" alt="" />
    </div>
    <div class="card mx-auto mo-card">
      <div class="card-body">
        <h2 class="text-white text-center">
          <span class="bx bx-check align-middle display-1"></span>
        </h2>
        <h3
          style="max-width: 290px"
          class="text-white mx-auto mb-3 text-center"
        >
          {{ 'AUTH_SUCCESS_REGISTER.TITLE' | translate }}
        </h3>
        <p class="text-white text-center">
          {{ 'AUTH_SUCCESS_REGISTER.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->
</mg-auth-wrapper>
<!-- end page -->
