<img [src]="logos.dark" alt="Vult Logo" height="50" class="d-block mx-auto" />

<h2 class="text-center fw-bold my-4">إعادة تعيين كلمة المرور</h2>
<form
  class="custom_form mx-auto"
  style="max-width: 500px"
  nz-form
  (keypress.enter)="onSubmit()"
  [formGroup]="resetForm"
>
  <nz-form-item class="mb-3">
    <nz-form-control [nzErrorTip]="'يجب إدخال البريد'">
      <nz-form-label [nzRequired]="true"> أدخل بريدك الإلكتروني </nz-form-label>
      <input
        formControlName="email"
        nz-input
        class="bg-transparent h-50px"
        name="email"
        [placeholder]="'اكتب البريد هنا'"
        type="email"
        id="email"
      />
    </nz-form-control>
  </nz-form-item>

  <button
    (click)="onSubmit()"
    [disabled]="loading"
    class="col-12 btn h-50px btn-primary-gradient mt-5"
  >
    <span class="bx bx-loader bx-spin" *ngIf="loading"></span>
    <!-- <span class="bx bx-key align-middle" *ngIf="!loading"></span> -->

    إرسال رمز تأكيد للبريد
  </button>

  <button routerLink="/account/login" class="col-12 mt-3 btn h-50px btn-white">
    <!-- <span class="bx bx-lock-open align-middle"></span> -->
    العودة لتسجيل الدخول
  </button>
</form>
