<img [src]="logos.light" alt="Vult Logo" height="50" class="d-block mx-auto" />

<h2 class="text-center fw-bold my-4">
  {{ 'AUTH_RECOVER_PASSWORD.TITLE' | translate }}
</h2>

<form
  nz-form
  class="custom_form mx-auto"
  style="max-width: 500px"
  (keypress.enter)="onSubmit()"
  [formGroup]="resetForm"
>
  <nz-form-item class="mb-3">
    <nz-form-control
      [nzErrorTip]="'AUTH_RECOVER_PASSWORD.PASSWORD_REQUIRED' | translate"
    >
      <nz-form-label [nzRequired]="true">
        {{ 'AUTH_RECOVER_PASSWORD.NEW_PASSWORD_LABEL' | translate }}
      </nz-form-label>
      <input
        formControlName="password"
        nz-input
        class="bg-transparent h-50px"
        nzSize="large"
        name="password"
        [placeholder]="'AUTH_RECOVER_PASSWORD.PASSWORD_PLACEHOLDER' | translate"
        type="text"
        id="password"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-3">
    <nz-form-control
      [nzErrorTip]="
        'AUTH_RECOVER_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate
      "
    >
      <nz-form-label [nzRequired]="true">
        {{ 'AUTH_RECOVER_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate }}
      </nz-form-label>
      <input
        formControlName="confirmPass"
        nz-input
        class="bg-transparent h-50px"
        nzSize="large"
        name="confirmPass"
        [placeholder]="'AUTH_RECOVER_PASSWORD.PASSWORD_PLACEHOLDER' | translate"
        type="text"
        id="confirmPass"
      />
    </nz-form-control>
  </nz-form-item>

  <button
    (click)="onSubmit()"
    [disabled]="loading"
    class="col-12 btn h-50px btn-primary-gradient mt-5"
  >
    <span class="bx bx-loader bx-spin" *ngIf="loading"></span>
    <!-- <span class="bx bx-key align-middle" *ngIf="!loading"></span> -->

    {{ 'AUTH_RECOVER_PASSWORD.SUBMIT_BUTTON' | translate }}
  </button>

  <button routerLink="/account/login" class="col-12 mt-3 btn h-50px btn-white">
    <!-- <span class="bx bx-lock-open align-middle"></span> -->
    {{ 'AUTH_RECOVER_PASSWORD.BACK_TO_LOGIN' | translate }}
  </button>
</form>
